// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.notes {
	table {
		border-collapse: collapse;
	}

	table {
		tr {
			td {
				padding: 5px;
				vertical-align: top;
			}

			td.list_title {
				width:60%;
			}
		}

		tr.list_even {
			background: #e0f8f8
		}

		tr.list_odd {
			background: #f8b0f8
		}
	} 
}